<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsjt.order.mapper.one.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xsjt.order.entity.Product">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="json" property="json" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <select id="selectByExamine" parameterType="String" resultMap="BaseResultMap">
        SELECT * FROM product
        WHERE json->>'$.examine' = #{param1}
        and json->>'$.type' = 0 and is_deleted = 0
    </select>

    <select id="selectByTypeAndStatus" parameterType="Integer" resultMap="BaseResultMap">
        SELECT * FROM product
        WHERE json->>'$.type' = #{param2}
        and status = #{param1} and is_deleted = 0
    </select>

</mapper>
